<ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
      <button class="button button-positive" ng-click="encrypt()">Encrypt</button>
      <button class="button button-positive" ng-click="decrypt()">Decrypt</button>
    </ion-list>
  </ion-content>
</ion-view>
